[Desktop Entry]
Type=Application
Name={Bwraplyr1} Mihomo Party
Icon=mihomo-party
Exec="/_and/config/bwraplua/default/2_bwraplyr1_and" "mihomo-party" %U

